body {
  font-family: "Noto Serif JP", serif;
  color: #333;
  font-size: 20px;
  line-height: 1.7;
  font-weight: 300;
}

.inner {
  padding-inline: 15px;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 40px;
  }
}

.section__content {
  margin-top: 46px;
}
@media screen and (min-width: 768px) {
  .section__content {
    margin-top: 64px;
  }
}

.heading {
  font-size: 30px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
  line-height: 100%;
}
.heading::after {
  content: "";
  width: 60px;
  height: 1px;
  background: #3ea1d1;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 40px;
    gap: 24px;
  }
}

.button {
  display: inline-block;
  min-width: 158px;
  padding: 11px;
  text-align: center;
  border: 1px solid #3ea1d1;
  background-color: #fff;
  color: #3ea1d1;
  font-size: 14px;
  letter-spacing: 0.02px;
  transition: color 0.3s, background-color 0.3s;
}
.button:hover {
  color: #fff;
  background-color: #3ea1d1;
}

.header {
  height: 60px;
}
@media screen and (min-width: 768px) {
  .header {
    height: 70px;
  }
}

.header__inner {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo a img {
  width: 120px;
  display: block;
}

@media screen and (min-width: 768px) {
  .header__icon {
    display: none;
  }
}

.header__lists {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .header__lists {
    flex-direction: row;
    align-items: center;
    gap: 46px;
  }
}

.header__link {
  display: inline-block;
  padding-block: 8px;
  color: #fff;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .header__link {
    color: #333;
    font-size: 16px;
  }
}

.header__nav {
  background: #3ea1d1;
  width: 270px;
  height: calc(100% - 60px);
  position: fixed;
  right: 0;
  top: 60px;
  padding: 32px 15px;
  transform: translateX(100%);
  transition: transform 0.4s;
  z-index: 1000;
}
.header__nav.is-checked {
  transform: translateX(0);
}
@media screen and (min-width: 768px) {
  .header__nav {
    background: transparent;
    width: auto;
    height: auto;
    position: static;
    padding: 0;
    transform: translateX(0);
  }
}

.drawer-icon {
  width: 30px;
  height: 18px;
  position: relative;
}
.drawer-icon.is-checked .drawer-icon__bar:nth-child(1), .drawer-icon.is-checked .drawer-icon__bar:nth-child(3) {
  top: 9px;
}
.drawer-icon.is-checked .drawer-icon__bar:nth-child(1) {
  transform: rotate(45deg);
}
.drawer-icon.is-checked .drawer-icon__bar:nth-child(2) {
  display: none;
}
.drawer-icon.is-checked .drawer-icon__bar:nth-child(3) {
  transform: rotate(-45deg);
}

.drawer-icon__bar {
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  background: #3ea1d1;
  transition: top 0.4s, transform 0.4s;
}
.drawer-icon__bar:nth-child(1) {
  top: 0;
}
.drawer-icon__bar:nth-child(2) {
  top: 8px;
}
.drawer-icon__bar:nth-child(3) {
  top: 16px;
}

.main {
  display: grid;
  gap: 96px;
}
@media screen and (min-width: 768px) {
  .main {
    gap: 160px;
  }
}

.fv__inner {
  position: relative;
}

@media screen and (min-width: 768px) {
  .fv__image {
    max-width: 990px;
    margin-left: auto;
    display: block;
  }
}
.fv__message {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .fv__message {
    position: absolute;
    inset-block: 0;
    margin-block: auto;
    left: 0;
    padding: 80px 40px;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #fff;
  }
}

.fv__title {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.7;
}
.fv__title br {
  display: none;
}
@media screen and (min-width: 768px) {
  .fv__title br {
    display: inline;
  }
}

.fv__text {
  margin-top: 16px;
}

.concept__content {
  display: flex;
  flex-direction: column;
  gap: 34px;
}
@media screen and (min-width: 768px) {
  .concept__content {
    flex-direction: row;
    align-items: center;
    gap: 6.6666666667%;
  }
}

.concept__image {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .concept__image {
    width: 50%;
    flex-shrink: 0;
  }
}
.concept__image img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .concept__message {
    flex-grow: 1;
  }
}

.concept__title {
  font-size: 20px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .concept__title {
    font-size: 18px;
  }
}
@media screen and (min-width: 900px) {
  .concept__title {
    font-size: 20px;
  }
}

.concept__text {
  margin-top: 22px;
}
@media screen and (min-width: 768px) {
  .concept__text {
    margin-top: 40px;
  }
}

.feature__cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media screen and (min-width: 768px) {
  .feature__cards {
    flex-direction: row;
    gap: 40px;
  }
}
@media screen and (min-width: 900px) {
  .feature__cards {
    gap: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .feature__cards {
    gap: 90px;
  }
}

.feature__card {
  background: #FFF;
  box-shadow: 3px 3px 15px 0px rgba(96, 96, 96, 0.16);
}

.feature__card__image img {
  width: 100%;
  text-align: center;
}

.feature__card__body {
  font-weight: 600;
  text-align: center;
  padding: 26px;
}

.about {
  background: url("../image/sp/about-bg.jpg") no-repeat top center/cover;
  position: relative;
  padding-block: 180px 50px;
}
@media screen and (min-width: 768px) {
  .about {
    background: url("../image/pc/about-bg.jpg") no-repeat top center/cover;
  }
}
.about::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.12);
  z-index: 1;
}

.about__content {
  position: relative;
  z-index: 2;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .about__content {
    width: 50%;
  }
}

.about__title {
  font-size: 20px;
  font-weight: 600;
}

.about__text {
  margin-top: 24px;
  font-size: 14px;
  font-weight: 600;
}

.products__inner {
  padding-inline: 56px;
}
@media screen and (min-width: 768px) {
  .products__inner {
    max-width: 1020px;
    padding-inline: 40px;
  }
}

.products__cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .products__cards {
    flex-direction: row;
    gap: 50px;
  }
}
@media screen and (min-width: 900px) {
  .products__cards {
    gap: 80px;
  }
}

.products-card__image {
  text-align: center;
}
.products-card__image img {
  width: 100%;
}

.products-card__body {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .products-card__body {
    margin-top: 18px;
  }
}

.products-card__title {
  font-size: 14px;
}

.products-card__price {
  margin-top: 10px;
  font-size: 14px;
  color: #989898;
}

.products__button {
  text-align: center;
  margin-top: 42px;
}
@media screen and (min-width: 768px) {
  .products__button {
    margin-top: 44px;
  }
}

@media screen and (min-width: 768px) {
  .news__inner {
    max-width: 1120px;
    padding-inline: 40px;
  }
}

.news__cards {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
@media screen and (min-width: 768px) {
  .news__cards {
    gap: 24px;
  }
}

.news__card {
  padding-bottom: 28px;
  border-bottom: 1px solid #e0e0e0;
}
@media screen and (min-width: 768px) {
  .news__card {
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .news-card {
    display: flex;
    align-items: flex-start;
    gap: 40px;
  }
}

@media screen and (min-width: 768px) {
  .news-card__image {
    width: 260px;
    flex-shrink: 0;
  }
}
.news-card__body {
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .news-card__body {
    flex-grow: 1;
    margin-top: 0;
  }
}

.news-card__time {
  font-size: 14px;
  font-weight: 300;
  display: block;
}

.news-card__title {
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .news-card__title {
    margin-top: 16px;
    font-size: 18px;
  }
}

.news-card__text {
  margin-top: 14px;
  color: #888;
  font-size: 14px;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .news-card__text {
    margin-top: 10px;
  }
}

.news__button {
  margin-top: 42px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .news__button {
    margin-top: 44px;
  }
}

.concept2__inner {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .concept2__inner {
    flex-direction: row-reverse;
    gap: 80px;
  }
}

.concept2__image {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .concept2__image {
    width: 50%;
    flex-shrink: 0;
  }
}
.concept2__image img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .concept2__message {
    flex-grow: 1;
  }
}

.concept2__title {
  font-weight: 600;
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .concept2__title {
    font-size: 28px;
  }
}

.concept2__text {
  margin-top: 22px;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .concept2__text {
    font-size: 16px;
    font-weight: 300;
  }
}

.contact {
  padding-block: 56px;
  background: url(../image/sp/contact_bg.jpg) no-repeat center center/cover;
}

.contact__head {
  color: #3ea1d1;
}

.contact__text {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
.contact__text .is-required {
  color: #e7728e;
}

.contact__items {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contact__submit {
  margin-top: 23px;
  text-align: center;
}

.form-label {
  display: inline-flex;
  background: rgba(62, 161, 209, 0.7);
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  gap: 4px;
  align-items: center;
  padding: 4px 16px;
}

.form-labae__required {
  color: #e7728e;
  font-size: 10px;
  font-weight: 600;
}

.form-text {
  display: block;
  width: 320px;
  padding: 0.5em;
  border: 1px solid #ccc;
  font-size: 16px;
  background: var(--ffffff, #FFF);
  box-shadow: 5px 6px 16px 0px rgba(96, 96, 96, 0.16);
}

.form-textarea {
  display: block;
  width: 320px;
  height: auto;
  padding: 0.5em;
  border: 1px solid #ccc;
  font-size: 16px;
  background: var(--ffffff, #FFF);
  box-shadow: 5px 6px 16px 0px rgba(96, 96, 96, 0.16);
}

.form-checkbox__text {
  text-align: center;
  font-family: "Noto Serif JP";
  font-size: 16px;
  font-weight: 300;
  line-height: 170%; /* 27.2px */
  margin-top: 28px;
}
.form-checkbox__text a {
  color: #3ea1d1;
  border-bottom: 1px solid #3ea1d1;
}/*# sourceMappingURL=style.css.map */