$main-color: #3ea1d1;
$black: #333;
$font-base: "Noto Sans", sans-serif;

$header-height-sp: 60px;
$header-height-pc: 70px;

// ブレイクポイントのマップ定義
$breakpoints: (
  sm: 600px,
  md: 768px,
  lg: 900px,
  xl: 1280px
);

// メディアクエリ用のミックスイン
@mixin mq($breakpoint) {
  @media screen and (min-width: #{map-get($breakpoints, $breakpoint)}) {
    @content;
  }
}

body{
  font-family: $font-base;
  color: $black;
  font-size: 20px;
  line-height: 170%;
  font-weight: 300;
}

.inner{
  padding-inline: 15px;
  @include mq(md) {
    max-width: calc(1200px + 40px * 2);
    margin-inline: auto;
    padding-inline: 40px;
  }
}

// header(ヘッダー)
.header{
  height: $header-height-sp;
  @include mq(md) {
    height: $header-height-pc;
  }

}

.header__inner{
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo{
  a{
    img{
      width: 120px;
      display: block;
    }
  }
}

.header__icon{
  @include mq(md) {
    display: none;
  }
}

.header__lists{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: calc(32px - 8px * 2);

  @include mq(md) {
    flex-direction: row;
    align-items: center;
    gap: 46px;
  }
}

.header__list{

}

.header__link{
  display: inline-block;
  padding-block: 8px;
  color: #fff;
  font-size: 18px;
  
  @include mq(md) {
    color: $black;
    font-size: 16px;
  }
}

.header__item{

}

.header__nav{
  background: $main-color;
  width: 270px;
  height: calc(100% - $header-height-sp);
  position: fixed;
  right: 0;
  top: $header-height-sp;
  padding: calc(40px - 8px) 15px;
  transform: translateX(100%);
  transition: transform 0.4s;

  &.is-checked{
    transform: translateX(0);
  }
  @include mq(md) {
    background: transparent;
    width: auto;
    height: auto;
    position: static;
    padding: 0;
    transform: translateX(0);
  }
}

.drawer-icon{
  width: 30px;
  height: 18px;
  position: relative;

  &.is-checked {
    .drawer-icon__bar{
      &:nth-child(1),
      &:nth-child(3) {
        top: 9px;
      }
      &:nth-child(1){
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }
}

.drawer-icon__bar{
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  background: $main-color;
  transition: top 0.4s, transform 0.4s;

  &:nth-child(1) {
    top: 0;
  }
  &:nth-child(2) {
    top: 8px;
  }
  &:nth-child(3) {
    top: 16px;
  }
}
// main
.main{

}
.fv{

}
.fv__inner{

}
.fv__message{

}
.fv__title{

}
.fv__text{
  
}