$main-color: #3ea1d1;
$black: #333;
$font-base: 'Noto Serif JP', serif;

$header-height-sp: 60px;
$header-height-pc: 70px;

// ブレイクポイントのマップ定義
$breakpoints: (
  sm: 600px,
  md: 768px,
  lg: 900px,
  xl: 1280px
);

// メディアクエリ用のミックスイン
@mixin mq($breakpoint) {
  @media screen and (min-width: #{map-get($breakpoints, $breakpoint)}) {
    @content;
  }
}

body{
  font-family: $font-base;
  color: $black;
  font-size: 20px;
  line-height: 1.7;
  font-weight: 300;
}

.inner{
  padding-inline: 15px;
  @include mq(md) {
    max-width: calc(1200px + 40px * 2);
    margin-inline: auto;
    padding-inline: 40px;
  }
}
// 共通パーツ
.section{

}
.section__head{

}
.section__content{
  margin-top: 46px;
  @include mq(md) {
    margin-top: 64px;
  }
}
.heading{
  font-size: 30px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
  line-height: 100%;

  &::after{
    content: "";
    width: 60px;
    height: 1px;
    background: $main-color;
  }

  @include mq(md) {
    font-size: 40px;
    gap: 24px;
  }
}

.button{
  display: inline-block;
  min-width: 158px;
  padding: calc(12px - 1px);
  text-align: center;
  border: 1px solid $main-color;
  background-color: #fff;
  color: $main-color;
  font-size: 14px;
  letter-spacing: 0.02px;
  transition: color 0.3s, background-color 0.3s, ;

  &:hover{
    color: #fff;
    background-color: $main-color;
  }
}


// header(ヘッダー)
.header{
  height: $header-height-sp;
  @include mq(md) {
    height: $header-height-pc;
  }

}

.header__inner{
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo{
  a{
    img{
      width: 120px;
      display: block;
    }
  }
}

.header__icon{
  @include mq(md) {
    display: none;
  }
}

.header__lists{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: calc(32px - 8px * 2);

  @include mq(md) {
    flex-direction: row;
    align-items: center;
    gap: 46px;
  }
}

.header__list{

}

.header__link{
  display: inline-block;
  padding-block: 8px;
  color: #fff;
  font-size: 18px;
  
  @include mq(md) {
    color: $black;
    font-size: 16px;
  }
}

.header__item{

}

.header__nav{
  background: $main-color;
  width: 270px;
  height: calc(100% - $header-height-sp);
  position: fixed;
  right: 0;
  top: $header-height-sp;
  padding: calc(40px - 8px) 15px;
  transform: translateX(100%);
  transition: transform 0.4s;
  z-index: 1000;

  &.is-checked{
    transform: translateX(0);
  }
  @include mq(md) {
    background: transparent;
    width: auto;
    height: auto;
    position: static;
    padding: 0;
    transform: translateX(0);
  }
}

.drawer-icon{
  width: 30px;
  height: 18px;
  position: relative;

  &.is-checked {
    .drawer-icon__bar{
      &:nth-child(1),
      &:nth-child(3) {
        top: 9px;
      }
      &:nth-child(1){
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }
}

.drawer-icon__bar{
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  background: $main-color;
  transition: top 0.4s, transform 0.4s;

  &:nth-child(1) {
    top: 0;
  }
  &:nth-child(2) {
    top: 8px;
  }
  &:nth-child(3) {
    top: 16px;
  }
}

// main
.main{
  display: grid;
  gap: 96px;

  @include mq(md) {
    gap: 160px;
  }
}

// fv(ファーストビュー)
.fv{

}
.fv__inner{
  position: relative;
}
.fv__image{
  @include mq(md) {
    max-width: 990px;
    margin-left: auto;
    display: block;
  }
  img{

  }
}
.fv__message{
  margin-top: 30px;
  @include mq(md) {
    position: absolute;
    inset-block: 0;
    margin-block: auto;
    left: 0;
    padding: 80px 40px;
    height: fit-content;
    background-color: #fff;
  }
}
.fv__title{
  font-size: 26px;
  font-weight: 600;
  line-height: 1.7;
  br{
    display: none;
    @include mq(md) {
      display: inline;
    }
  }
}
.fv__text{
  margin-top: 16px;
}
// concept
.concept{

}
.concept__inner{

}
.concept__content{
  display: flex;
  flex-direction: column;
  gap: 34px;

  @include mq(md) {
    flex-direction: row;
    align-items: center;
    gap: calc(80px / 1200px * 100%);
  }
}
.concept__image{
  text-align: center;

  @include mq(md) {
    width: calc(600px /1200px * 100%);
    flex-shrink: 0;
  }
  img{
    width: 100%;
  }
}
.concept__message{
  @include mq(md) {
    flex-grow: 1;
  }
}
.concept__title{
  font-size: 20px;
  font-weight: 600;
  @include mq(md) {
    font-size: 18px;
  }
  @include mq(lg) {
    font-size: 20px;
    
  }
}
.concept__text{
  margin-top: 22px;
  @include mq(md) {
    margin-top: 40px;
  }
}

// feature
.feature{

}
.feature__inner{

}
.feature__cards{
  display: flex;
  flex-direction: column;
  gap: 50px;

  @include mq(md) {
    flex-direction: row;
    gap: 40px;
  }
  @include mq(lg) {
    gap: 60px;
  }
  @include mq(xl) {
    gap: 90px;
  }
}
.feature__card{
  background: #FFF;
  box-shadow: 3px 3px 15px 0px rgba(96, 96, 96, 0.16);
}
.feature-card{

}
.feature__card__image{
  img{
    width: 100%;
    text-align: center;
  }
}
.feature__card__body{
  font-weight: 600;
  text-align: center;
  padding: 26px;
}

// about
.about{
  background: url("../image/sp/about-bg.jpg") no-repeat top center / cover;
  position: relative;
  padding-block: 180px 50px;
  @include mq(md) {
    background: url("../image/pc/about-bg.jpg") no-repeat top center / cover;
  }

  &::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.12);
    z-index: 1;
  }
}
.about__inner{

}
.about__content{
  position: relative;
  z-index: 2;
  color: #fff;

  @include mq(md) {
    width: calc(600px / 1200px * 100%);
  }
}
.about__title{
  font-size: 20px;
  font-weight: 600;
}
.about__text{
  margin-top: 24px;
  font-size: 14px;
  font-weight: 600;
}
// products
.products{

}
.products__inner{
  padding-inline: 56px;

  @include mq(md) {
    max-width: calc(940px + 40px * 2);
    padding-inline: 40px;
  }
}
.products__cards{
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include mq(md) {
    flex-direction: row;
    gap: 50px;
  }

  @include mq(lg) {
    gap: 80px;
  }
}
.products__card{

}
.products-card{

}
.products-card__image{
  text-align: center;
  img{
    width: 100%;
  }
}
.products-card__body{
  margin-top: 20px;

  @include mq(md) {
    margin-top: 18px;
  }
}
.products-card__title{
  font-size: 14px;
}
.products-card__price{
  margin-top: 10px;
  font-size: 14px;
  color: #989898;
}
.products__button{
  text-align: center;
  margin-top: 42px;

  @include mq(md) {
    margin-top: 44px;
  }
}

// news
.news{

}
.news__inner {
@include mq(md) {
  max-width: calc(1040px + 40px * 2);
  padding-inline: 40px;
}
}
.news__cards{
  display: flex;
  flex-direction: column;
  gap: 28px;

  @include mq(md) {
    gap: 24px;
  }
}
.news__card{
  padding-bottom: 28px;
  border-bottom: 1px solid #e0e0e0;

  @include mq(md) {
    padding-bottom: 24px;
  }
}
.news-card{
  @include mq(md) {
    display: flex;
    align-items: flex-start;
    gap: 40px;
  }
}
.news-card__image{
  @include mq(md) {
    width: 260px;
    flex-shrink: 0;
  }
  img{

  }
}
.news-card__body{
  margin-top: 16px;

  @include mq(md) {
    flex-grow: 1;
    margin-top: 0;
  }
}
.news-card__time{
  font-size: 14px;
  font-weight: 300;
  display: block;
}
.news-card__title{
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;

  @include mq(md) {
    margin-top: 16px;
    font-size: 18px;
  }
}
.news-card__text{
  margin-top: 14px;
  color: #888;
  font-size: 14px;
  font-weight: 300;

  @include mq(md) {
    margin-top: 10px;
  }

}
.news__button{
  margin-top: 42px;
  text-align: center;

  @include mq(md) {
    margin-top: 44px;
  }
}

// concept2
.concept2{

}
.concept2__inner{
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include mq(md) {
    flex-direction: row-reverse;
    gap: 80px;
  }
}
.concept2__image{
  text-align: center;

  @include mq(md) {
    width: calc(600px / 1200px * 100%);
    flex-shrink: 0;
  }
img{
  width: 100%;
}
}
.concept2__message{
  @include mq(md) {
    flex-grow: 1;
  }
}
.concept2__title{
  font-weight: 600;
  font-size: 20px;
  @include mq(md) {
    font-size: 28px;
  }
}
.concept2__text{
  margin-top: 22px;
  font-size: 14px;
  @include mq(md) {
    font-size: 16px;
    font-weight: 300;
  }
}

// contact
.contact{
}
.contact__inner{
}
.contact__form{

}
.contact__text{
  .is-required{
    color: red;
  }
}
.contact__items{

}
.contact__item{

}
.contact-control{

}
.contact-control__head{

}
.form-label{

}
.form-labae__required{
  color: red;
}
.contact-control__input{

}
.form-text{

}
// ラジオボタン
.contact-control__radio{

}
.form-radio{

}
.form-radio__input{

}
.form-radio__text{
  
}